@charset "utf-8";
/*新增台北黑體*/
@font-face {
  font-family: 'TaipeiSans';
  src: url('"../font/TaipeiSansTCBeta-Regular.woff"') format("woff"),
       url('"../font/TaipeiSansTCBeta-Regular.ttf"') format("truetype"),
       url('"../font/TaipeiSansTCBeta-Regular.eot"') format("embedded-opentype");
}
/*For 手機*/
@media only screen and (max-width: 1024px){
	.header{
		padding: 0px;
		width: 100%;
		height: 172px;
		background: #777777;
		margin: 0 auto;
		text-align: center;
	}
	.header t1{
		font-size: 30px;
		line-height: 70px;
		width: 50%;
		font-family: 'TaipeiSans';
		color: #FFFFFF;
		font-weight: bold;
	}
	.header a{
		padding: 0px;
		width: 100%;
		height: 25px;
		line-height: 25px;/*字體上下置中*/
		font-size: 25px;
		background: #929292;
		float: inherit;
		text-align:center;/*字體水平置中*/
		font-family: 'TaipeiSans';
		color: #DFDFDF;
		display: block;/*判定範圍為整個框*/
		outline: none;/*隱藏點擊虛線*/
		text-decoration:none;
	}
	.header a:hover {
		text-decoration:none;
		color: #E7D36E;
		background: #4A4A4A;
		transition: all 0.25s linear;
	}
	.body {
		width: 100%;
		height: 300px;
		text-align: center;
	}
	.body t2{
		font-size: 40px;
		font-family: 'TaipeiSans';
		line-height: 300px;
		color: #E90E11
	}
	.body a{
		color: #000000;
		font-size:40px;
		line-height: 90px;
		text-decoration:none;
	}
	.body a:hover {
		text-decoration:none;
		color: #E7D36E;
		background: #4A4A4A;
		transition: all 0.25s linear;
	}

}
@media only screen and (min-width: 1025px){
	.header{
		padding: 0px;
		width: 100%;
		height: 150px;
		background: #777777;
		margin: 0 auto;
	}
	.header t1{
		font-size: 60px;
		line-height: 150px;
		width: 50%;
		float:left;
		font-family: 'TaipeiSans';
		color: #FFFFFF;
		font-weight: bold;
	}

	.header a{
		padding: 0px;
		width: 9%;
		height: 150px;
		line-height: 150px;/*字體上下置中*/
		font-size: 25px;
		float: left;
		text-align:center;/*字體水平置中*/
		font-family: 'TaipeiSans';
		color: #DFDFDF;
		display: block;/*判定範圍為整個框*/
		outline: none;/*隱藏點擊虛線*/
		text-decoration:none;
	}
	.header a:hover {
		text-decoration:none;
		color: #E7D36E;
		background: #4A4A4A;
		transition: all 0.25s linear;
	}
	.body {
		width: 100%;
		height: 300px;
		text-align: center;
	}
	.body t2{
		font-size: 60px;
		font-family: 'TaipeiSans';
		line-height: 300px;
		color: #E90E11
	}
	.body a{
		color: #000000;
		font-size:45px;
		text-decoration:none;
	}
	.body a:hover {
		text-decoration:none;
		color: #E7D36E;
		background: #4A4A4A;
		transition: all 0.25s linear;
	}
}