@charset "utf-8";
/*新增台北黑體*/
@font-face {
  font-family: 'TaipeiSans';
  src: url('"/font/TaipeiSansTCBeta-Regular.woff"') format("woff"),
       url('"font/TaipeiSansTCBeta-Regular.ttf"') format("truetype"),
       url('"font/TaipeiSansTCBeta-Regular.eot"') format("embedded-opentype");
}
.header{
	padding: 0px;
	width: 100%;
	height: 150px;
	background: #777777;
	margin: 0 auto;
}
.header t1{
	font-size: 60px;
	line-height: 150px;
	width: 50%;
	float:left;
	font-family: 'TaipeiSans';
	color: #FFFFFF;
	font-weight: bold;
}

.header a{
	padding: 0px;
	width: 9%;
	height: 150px;
	line-height: 150px;/*字體上下置中*/
	font-size: 20px;
	float: left;
	text-align:center;/*字體水平置中*/
	font-family: 'TaipeiSans';
	color: #DFDFDF;
	display: block;/*判定範圍為整個框*/
	outline: none;/*隱藏點擊虛線*/
	text-decoration:none;
}
.header a:hover {
	text-decoration:none;
	color: #E7D36E;
	background: #4A4A4A;
	transition: all 0.25s linear;
}
.body {
	width: 100%;
	height: 100%;
	float: left;
	background: #E0E0E0;
}
.body left{
	width: 50%;
	height: 100%;
	float:left;
	font-size: 50px;
	text-align: center;
}
.body t2{
	color: #3C906F;
	line-height: 500px;
}
.body right{
	padding: 0px;
	width: 50%;
	float: right;
}
.bottom{
	height: auto;
	text-align:center;
	line-height: 120px;
	font-size: 20px;
}